@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply font-[Poppins];
      @apply h-full;
    }
  
    li {
      @apply px-4;
      @apply cursor-pointer;
    }
  }

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Merriweather&family=Noto+Serif:wght@400;700&family=Oswald&family=Poppins:wght@400;500&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --swiper-theme-color: #fff !important;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h1 span {
    font-size: 25px;
}

.py-1 {
  text-transform: capitalize;
  font-weight: normal;
}

.nav-list {
  letter-spacing: 2.5px;
}
